/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --aquamarine: aquamarine;
  --red: #900;
  --yellow: yellow;
  --lime: lime;
}

body {
  background-color: var(--aquamarine);
}
img {
  width: 100%;
}